

{% extends 'base.html' %}


{% block title %}About - BookStore{% endblock %}


{% block content %}


    
 
<div class="bg-gray-100 h-[600px] flex flex-col justify-center items-center">

    <!-- About Section -->
    <div class="container p-8 bg-white shadow-lg rounded-lg mx-auto my-auto">
        <h1 class="text-4xl font-bold mb-6">About BookStore</h1>
        <p class="mb-4">Welcome to Textbooks Hub, your go-to marketplace for buying and selling college textbooks. At BookStore, our mission is to make textbook transactions hassle-free for students like you.</p>
        <p class="mb-4">Whether you need to find the textbooks required for your courses or want to sell your old books for top dollar, we've got you covered. Join our campus bookstore and marketplace to enjoy a seamless experience in acquiring and parting with textbooks.</p>
        <p class="mb-4">Browse our collection of books, discover great deals, and be a part of the BookStore community. We strive to create a platform that simplifies the textbook exchange process, making education more accessible for everyone.</p>
    </div>

</div>  
    
    
{% endblock %}
