{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-gray-100 flex p-20 w-full">
  <div class="w-1/2 py-20 px-10">
    <h1 class="text-4xl font-bold mb-6">Textbooks Hub</h1>
    <h2 class="text-2xl mb-4">Buy & Sell College Textbooks</h2>
    <p class="mb-4">Find the textbooks you need and sell the ones you don't for top dollar. Join your campus bookstore and marketplace for hassle-free textbook transactions.</p>
    <a href='products/'><button class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600">Browse Books</button></a>
  </div>
  <div class="w-1/2 p-10 flex justify-center">
    <img class='shadow-2xl rounded' src="https://i.postimg.cc/vHJL724W/home.png" class="shadow-lg rounded-lg">
  </div>
</div>
{% endblock %}
